# 排除数据文件夹 (非常重要，否则会上传失败)
data/
*.h5
*.npy
*.pth
*.ckpt

# 排除运行日志和输出
outputs/
multirun/
wandb/
lightning_logs/

# 排除 Python 缓存和虚拟环境
__pycache__/
*.pyc
venv/
.conda/
.anaconda/

# 排除 IDE 配置文件
.vscode/
.idea/