# 排除数据文件夹 
*.h5
*.npy
*.pth
*.ckpt

# 排除运行日志和输出
outputs/
multirun/
wandb/
lightning_logs/

# 排除 Python 缓存和虚拟环境
__pycache__/
*.pyc
venv/
.conda/
.anaconda/

# 排除 IDE 配置文件
.vscode/
.idea/

# Jupyter 和系统文件
.ipynb_checkpoints/
.DS_Store

# 其他 Python 缓存
.pytest_cache/